*{
  margin:0;
  padding:0;
}
body{
  background-color:burlywood;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
  background-color: brown;
  color: rgb(230, 239, 239);
  padding:12px;
  text-align: center;

}
#filter-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px;;
}
.filter-element{
  background-color: rgb(215, 227, 203);
  color: burlywood;
  padding: 12px 24px;
  border-radius: 20px;
  margin:6px;
  cursor:pointer;
}
.filter-element:hover{
  background-color: darkorange;
}
.filter-active {
  background-color: rgb(102, 120, 137);
}
#gallery-container{
  width:90%;
  margin:0 auto;
  column-count:3;
  column-gap: 0.5rem;
}
.gallery-image{
  width:100%;
  margin-bottom: 0.5rem;
}
.gallery-image.hide-image{
  display: none;
}
@media(max-width:920px)
{
  #gallery-container
  {
      column-count: 2;
  }
}